header.section.section-landing-header(ng-if="$state.current.name == 'welcome'")
    a.logo(href="./")
        img(src="./assets/img/logo.png", alt="Logo")

header.section.section-panel-header(ng-if="$state.current.name != 'welcome'")
    .wrapper
        .business-info
            .business-info-logo: img(ng-src="{{ $root.user.shop_keeper.preview || './assets/img/no-image-square.png' }}")
            .business-title
                .business-title-name(ng-bind="$root.user.shop_keeper.name")
                .business-title-actions
                    a(ui-sref="profile-edit").button.button-success.button-xs
                        em.mdi.mdi-settings
                        | Edit
                    a(ui-sref="sign-out").button.button-primary.button-xs
                        em.mdi.mdi-logout
                        | Logout
            .business-details
                span
                    strong Kvk: 
                    | {{ $root.user.shop_keeper.kvk_number }} 
                    span &nbsp;|&nbsp; 
                span
                    strong BTW: 
                    span(ng-class="{'text-muted' : !$root.user.shop_keeper.btw_number}") 
                        | {{ $root.user.shop_keeper.btw_number || 'Geen data' }}
                    span &nbsp;|&nbsp; 
                span
                    strong IBAN:  
                    | {{ $root.user.shop_keeper.iban }} 
                br
                span
                    strong Categories: 
                    span(ng-repeat="category in shopkeeper_categories track by $index")
                        | {{ category.name }}{{ $index < shopkeeper_categories.length - 1 ? ', ' : '' }}
        .panel-header-nav
            a(ui-sref="panel-offices" ng-class="{'active': $state.current.name == 'panel-offices'}").panel-header-nav-it 
                | Offices ({{ $root.count_offices }})
            a(ui-sref="panel-transactions" ng-class="{'active': $state.current.name == 'panel-transactions'}").panel-header-nav-it 
                | Transactions ({{ $root.count_transactions }})