[submodule "zuidhorn-front-winkelier"]
	path = zuidhorn-front-winkelier
	url = git@github.com:/teamforus/zuidhorn-front-winkelier
	branch = testing
[submodule "zuidhorn-front-shopkeeper"]
        path = zuidhorn-front-shopkeeper
        url = git@github.com:/teamforus/zuidhorn-front-shopkeeper
        branch = testing
[submodule "zuidhorn-front-api-testing"]
	path = zuidhorn-front-api-testing
	url = git@github.com:/teamforus/zuidhorn-front-api-testing
	branch = testing

