.section.section-container: .wrapper 
    .section.section-title Edit office

    .section.section-panel.section-panel-profile: .section-panel-inner
        .profile-details
            .profile-photo(ng-if="$ctrl.office.id && $ctrl.office.preview != false")
                img(ng-src="{{ $ctrl.office.preview }}", alt="")
                .profile-photo-placeholder(ng-if="$ctrl.office.preview == false")
                    em.mdi.mdi-image
                    | PHOTO
            .logo-title Photo
            a(href="#" ng-click="$ctrl.selectPhoto($event)").button.button-success
                em.mdi.mdi-attachment
                | {{ $ctrl.office.id ? 'Change photo' : 'Select photo' }}
        form(ng-submit="$ctrl.submitForm($event, $ctrl.form.office)").form.form-sm
            .row: .col.col-12: .form-heading Details
            .row
                .col.col-6
                    .form-group
                        label.label Email
                        input(type="email" placeholder="Email" ng-model="$ctrl.form.office.values.email").form-control
                        p(ng-repeat="error in $ctrl.form.office.errors.email track by $index" ng-bind="error").text-danger
                        //- a(href="#").button.button-text.button-sm
                        //-     em.mdi.mdi-plus-circle
                        //-     | ADD EMAIL
                .col.col-6
                    .form-group
                        label.label Telephone
                        input(type="text" placeholder="Telephone" ng-model="$ctrl.form.office.values.phone").form-control
                        p(ng-repeat="error in $ctrl.form.office.errors.phone track by $index" ng-bind="error").text-danger
                        //- a(href="#").button.button-text.button-sm
                        //-     em.mdi.mdi-plus-circle
                        //-     | ADD TELEPHONE
            .row
                .col.col-12
                    .form-group
                        label.label Address
                        input(type="text" placeholder="Address" ng-model="$ctrl.form.office.values.address").form-control
                        p(ng-repeat="error in $ctrl.form.office.errors.address track by $index" ng-bind="error").text-danger

            .row: .col.col-12: .form-heading Opening times
            .row
                .col.col-5th(ng-repeat="week_day in [0, 1, 2, 3, 4]"): .form-group
                    label.label {{ ['MO', 'TU', 'WE', 'TH', 'FR'][$index] }}
                    select(
                        ng-options="schedule_option as schedule_option for schedule_option in $ctrl.schedule_options" 
                        ng-model="$ctrl.form.office.values.schedules[week_day].start_time").form-control
                    select(
                        ng-options="schedule_option as schedule_option for schedule_option in $ctrl.schedule_options" 
                        ng-model="$ctrl.form.office.values.schedules[week_day].end_time").form-control
            .row: .col.col-12: br
            button(type="submit").hidden
        .buttons 
            a(href="#" ng-click="$ctrl.submitForm($event, $ctrl.form.office)").button.button-success Submit
            a(ui-sref="panel-offices").button.button-muted Cancel