.section.section-panel-header
    .wrapper
        .business-info
            .business-info-logo: img(src="./assets/img/company-logo-sample.jpg")
            .business-title
                .business-title-name Rocket Minds
                .business-title-actions
                    a(href="./panel-profile-edit.html").button.button-success.button-xs
                        em.mdi.mdi-settings
                        | Edit
                    a(href="./").button.button-primary.button-xs
                        em.mdi.mdi-logout
                        | Logout
            .business-details
                span
                    strong Kvk: 
                    | 45667773 
                    span &nbsp;|&nbsp; 
                span
                    strong BTW: 
                    | NL3213214556B01 
                    span &nbsp;|&nbsp; 
                span
                    strong IBAN:  
                    | NL10INGB3455664430
                br
                span
                    strong Categories: 
                    | Bikes, Sport
        .panel-header-nav
            a(href="./panel-offices.html").panel-header-nav-it Offices (3)
            a(href="./panel.html").active.panel-header-nav-it Transaction (114)