.row
    .col-xs-12
        br
        h4.base-title.text-primary.clearfix
            span.pull-left {{ $state.current.data.title }}
            a(ui-sref="sign-out", ng-show="credentials").pull-right.btn.btn-primary Sign Out
        hr
    br

ui-view