doctype
-env_data = env_data || {html5Mode: {enable: false, basePath: "/"}, apiUrl: "/"};
html(lang="en" ng-app="oauth2App" ng-controller="BaseController")
    include includes/head
    body(ng-cloak)
        include includes/header
        block content
        include includes/footer
        include includes/scripts