.row
    .col-xs-12
        .form-group
            label(for='device_id') Device ID
            select(name="device_id" select ng-options="item as item.name for item in $ctrl.devices track by item.id" ng-model="$ctrl.form.values.device").form-control
        .form-group
            label(for='endpoint') Endpoint
            input(type="text" name="endpoint" id="endpoint" ng-model="$ctrl.form.values.endpoint").form-control
        .form-group
            label(for='device_id') Method
            select(name="device_id" select ng-options="item as item.name for item in $ctrl.methods track by item.id" ng-model="$ctrl.form.values.method").form-control
        .form-group
            label(for='params') Params
            textarea(name="params" id="params" ng-model="$ctrl.form.values.params" rows="6" style="font-family: mono;").form-control
        .form-group
            label(for='headers') Aditional headers
            textarea(name="headers" id="headers" ng-model="$ctrl.form.values.headers" rows="6" style="font-family: mono;").form-control
        .form-group.text-center
            a(href="#", ng-click="$ctrl.submit($event)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(ui-sref="welcome").btn.btn-default Cancel
        pre(style="font-family: mono" ng-bind="$ctrl.response | pretty_json" ng-show="$ctrl.response")