.row
    .col-xs-12.text-center
        p This is the first time then you use this device, that's why this device should be approved. Confirmation link was sent to your primary email address.
        p: a(ng-click="$ctrl.refresh($event)").btn.btn-primary Refresh 