.row
    .col-xs-12.text-center
        .form-group
            h4: strong Token Raw
            p(ng-bind="$ctrl.token")
            br
        .form-group
            h4: strong Token QR Code
            div.text-center: img(ng-src="{{ $ctrl.qr_code }}")
        .form-group.text-center
            a(ui-sref="welcome").btn.btn-default Cancel