.row
    .col-xs-12
        .form-group
            p Your can use up to €{{ $ctrl.voucher.max_amount | to_fixed:2 }}.
        .form-group
            label(for='amount') Funds
            input#amount.form-control(name='amount', type='number', ng-model="$ctrl.form.values.amount")
            p(ng-show="$ctrl.form.errors.amount", ng-repeat="err in $ctrl.form.errors.amount track by $index", ng-bind="err").text-danger
        .form-group
            label(for='extra_amount') Extra funds
            input#extra_amount.form-control(name='extra_amount', type='number', ng-model="$ctrl.form.values.extra_amount")
            p(ng-show="$ctrl.form.errors.extra_amount", ng-repeat="err in $ctrl.form.errors.extra_amount track by $index", ng-bind="err").text-danger
        .form-group.text-center
            a(href="#" ng-click="$ctrl.submit($event)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(ui-sref="panel").btn.btn-default Cancel