.row
    .col-xs-12.text-center: p
        a(ui-sref="sign-in").btn.btn-default Sign In
        | &nbsp;&nbsp;&nbsp;
        a(ui-sref="sign-up").btn.btn-primary Sign Up
        | &nbsp;&nbsp;&nbsp;
        a(ui-sref="settings").btn.btn-danger Settings
        | &nbsp;&nbsp;&nbsp;
        a(ui-sref="debug").btn.btn-warning Debug