@import 'includes/vars';
@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';


body {
    &.popup-open {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    max-width: 1360px;
    padding: 0 30px;
    margin: auto;
    @include cf();

    &.wrapper-sm {
        max-width: 1000px;
    }

    &.wrapper-lg {
        max-width: 1460px;
    }
}

.text-center {
    text-align: center;
}

.text-success {
    color: #70c567;
}

.text-primary {
    color: #3396a7;
}

.hide-desktop {
    display: none;
}

.button {
    padding: 0 40px;
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    font: 600 14px/40px $bf; 
    transition: .4s;
    box-shadow: 0 0 0 rgba(0,0,0,.1);
    margin-right: 15px;
    cursor: pointer;

    span {
        font-weight: inherit;
    }

    .mdi {
        line-height: 10px;
        margin-top: -1px;
        margin-bottom: -1px;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 20px;
        margin-left: -15px;
        transition: .4s;
    }

    &.button-white {
        background-color: #fff;
        border-color: #fff;
        color: #083f49;

        .mdi {
            color: #083f49;
        }

        span {
            color: #3396a7 !important;
            font-weight: inherit;
            line-height: 10px;
            vertical-align: middle;
        }

        strong {
            color: #083f49;
            font-size: 16px;
            line-height: 10px;
            vertical-align: middle;
        }

        &:not(.disabled):not([disabled]) {
            &:hover {
                background-color: #083f49;
                border-color: #083f49;
                color: #fff;
                box-shadow: 4px 4px 16px rgba(0,0,0,.2);

                .mdi {
                    color: #fff;
                }

                span {
                    color: #fff !important;
                }
            }
        }
    }

    &.button-default {
        background-color: #f7f9fc;
        border-color: #e7e7e7;
        color: #083f49;

        .mdi {
            color: #8b8b8c;
        }

        &:not(.disabled):not([disabled]) {
            &:hover {
                background-color: #bbb;
                border-color: #bbb;
                color: #fff;
                box-shadow: 4px 4px 16px rgba(0,0,0,.2);

                .mdi {
                    color: #fff;
                }
            }
        }
    }

    &.button-success {
        background-color: #70c567;
        border-color: #70c567;
        color: #fff;

        .mdi {
            color: #fff;
        }

        &:not(.disabled):not([disabled]) {
            &:hover {
                background-color: #083f49;
                border-color: #083f49;
                color: #fff;
                box-shadow: 4px 4px 16px rgba(0,0,0,.2);

                .mdi {
                    color: #fff;
                }
            }
        }
    }

    &.button-muted {
        background-color: #7a7a7a;
        border-color: #7a7a7a;
        color: #fff;

        .mdi {
            color: #fff;
        }

        &:not(.disabled):not([disabled]) {
            &:hover {
                background-color: #a1a1a1;
                border-color: #a1a1a1;
                color: #fff;
                box-shadow: 4px 4px 16px rgba(0,0,0,.2);

                .mdi {
                    color: #fff;
                }
            }
        }
    }

    &.button-primary {
        background-color: #3396a7;
        border-color: #3396a7;
        color: #fff;

        .mdi {
            color: #fff;
        }

        &:not(.disabled):not([disabled]) {
            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: #3396a7;
                box-shadow: 4px 4px 16px rgba(0,0,0,.2);

                .mdi {
                    color: #3396a7;
                }
            }
        }
    }

    &.button-xs {
        font: 700 12px/26px $bf;
        padding: 0 15px 0 15px;
        margin-right: 15px;
        margin-bottom: 10px;

        .mdi {
            line-height: 24px;
            font-size: 15px;
            vertical-align: middle;
            display: block;
            float: left;
            margin-left: -5px;
        }
    }

    &.button-text {
        border: none;
        color: #7a7a7a;
        padding-left: 0 !important;

        .mdi {
            color: #70c567;
            margin-left: 0 !important;
        }

        &:not(.disabled):not([disabled]) {
            &:hover {
                color: #333;
            }
        }
    }

    &.button-label {
        background-color: #f7f9fc;
        border-color: #e7e7e7;
        color: #083f49;
        cursor: default;

        .mdi {
            color: #8b8b8c;
            cursor: pointer;

            &:hover {
                color-color: #ccc;
            }
        }
    }

    &.button-sm {
        font: 600 11px/42px $bf;
        padding: 0 15px 0 15px;
        margin-right: 15px;

        .mdi {
            line-height: 40px;
            font-size: 15px;
            vertical-align: middle;
            display: block;
            float: left;
            margin-left: -5px;
        }
    }

    &.button-app-store {
        background-color: #fff;
        border: 0px;
        color: #083f49;
        padding: 0;
        line-height: 60px;
        box-shadow: 2px 2px 32px rgba(0,0,0,.1);
        @include cf();

        .mdi {
            line-height: 62px;
            display: block;
            margin: 0;
            padding: 0 20px;
            background-color: #70c567;
            color: #fff;
            font-size: 36px;
            float: left;
        }

        .button-body {
            float: left;
            padding: 10px 65px;

            span, strong {
                display: block;
                text-align: center;
                width: 100%;
            }

            span {
                line-height: 18px;
                font-size: 12px;
            }

            strong {
                line-height: 23px;
                font-size: 18px;
            }
        }
    }

    &.disabled, &[disabled] {
        cursor: default;
    }

    &:last-child, &:last-of-type {
        margin-right: 0;
    }

    @media screen and (max-width: 1000px) {
        &.button-app-store {
            .button-body {
                padding: 10px 35px;
            }
        }
    }
}

.button-group {
    display: inline-block;
    margin-right: 15px;
    
    .button {
        margin-right: 0;
        border-radius: 0;
        border-right: 1px solid #e7e7ef;

        &:first-child {
            border-radius: 3px  0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
            border-right: initial;
        }
    }
}

.map-card {
    padding-left: 130px;
    padding-top: 5px;
    position: relative;
    min-height: 100px;

    .map-card-img {
        left: 0;
        top: 5px;
        position: absolute;
        display: block;
        width: 110px;
    }

    .map-card-title {
        color: #017f96;
        font: 600 14px/28px $bf;
    }
    
    .map-card-description {

    }
}

.pagination {
    @include cf();

    .pagination-it {
        display: block;
        padding: 0 10px;
        min-width: 40px;
        text-align: center;
        height: 40px;
        border: 1px solid #e7eaed;
        float: left;
        font: 600 16px/38px $bf;
        cursor: pointer;

        * {
            cursor: inherit;
        }

        &.active {
            cursor: default;
            background-color: #70c567;
            border-color: #70c567;
            color: #fff;
        }

        &.disabled {
            cursor: default;
            background-color: #f9f9f9;
            color: #999;
        }
    }
}

.table-responsive {
    overflow: auto;
    margin-bottom: 10px;

    .table {
        th, td {
            white-space: nowrap;
        }
    }
}

table.table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;

    tr {
        th {
            color: #333333;
            font: 600 13px/24px $bf;
            border-bottom: 1px solid #e7eaed;
            padding: 15px 20px;
        }

        td {
            color: #333333;
            font: 400 14px/24px $bf;
            padding: 15px 20px;
            border: none;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                width: 1px;
                top: 20px;
                bottom: 20px;
                background-color: #e7eaed;
            }

            &:last-child:after {
                content: none;            
            }
        }
    }

    &.table-stripped {
        tbody {
            tr:nth-child(even) {
                background-color: #f7f7f7;
            }
        }
    }
}

.form {
    .form-heading {
        color: #083f49;
        font: 600 18px/24px $bf;
    }

    .form-group {
        width: 100%;
        display: block;
    }

    .form-control:not(textarea):not([type="chckbox"]):not([type="radio"]) {
        width: 100%;
        display: block;
        outline: none;
        padding: 0;
        border: 0px solid transparent;
        border-bottom: 1px solid #d7d7d7;
        font: 400 13px/34px $bf;
        margin: 0 0 5px;
        height: 36px;
        background-color: #fff;
        padding-left: 0;
    }

    textarea.form-control {
        width: 100%;
        display: block;
        outline: none;
        padding: 10px 0;
        border: 0px solid transparent;
        border-bottom: 1px solid #d7d7d7;
        font: 400 13px/20px $bf;
        margin: 0 0 5px;
        resize: none;
        padding-left: 0;
    }

    .text-danger {
        color: #ad3a3a;
        font: 400 12px/18px $bf;
        margin: 0;
    }

    &.form-sm {
        width: 600px;
        max-width: 100%;
    }
}

.row {
    margin: 0 -15px;
    @include cf();

    .label {
        display: block;
        font: 500 12px/20px $bf;
        color: #017f96;
    }

    .col {
        float: left;
        padding: 0 15px;
        margin-bottom: 15px;

        &.col-6 {
            width: 50%;
        }

        &.col-12 {
            width: 100%;
        }

        &.col-5th {
            width: 100/5 + %;
        }
    }
}

.office-li {
    padding-left: 110px;
    position: relative;

    .office-li-thumb {
        width: 90px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .office-li-name {
        font: 600 16px/20px $bf;
        color: #015463;
        margin-bottom: 10px;
        @include ellipsis();
    }

    .office-li-description {
        color: #131418;
        font: 400 13px $bf;

        span.text-primary {
            font-weight: 600;
        }

        strong.text-primary {
            font-weight: 700;
        }
    }
}

.categories-list {
    margin: 0 -10px;

    .categories-item {
        width: 100/7+%;
        float: left;
        overflow: hidden;
        padding: 0 10px 20px;

        .categories-item-inner {
            position: relative;
            cursor: pointer;

            .categories-item-img {
                border-radius: 10px;
                display: block;
                width: 100%;
            }

            .categories-item-title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 15px 15px 25px;
                color: #fff;
                font: 700 14px $bf;
                text-shadow: 2px 2px 5px rgba(#000, .2);
            }

            .categories-item-radio {
                width: 22px;
                height: 22px;
                border-radius: 22px;
                border: 1px solid #d1dae6;
                position: absolute;
                right: 10px;
                top: 10px;
                transition: .4s;
            }

            &:before {
                content: '';
                display: block;
                @include fill_parent();
                background-color: #000;
                opacity: .3;
                border-radius: 10px;
            }

            &:hover, &.active {
                .categories-item-radio {
                    border-color: #fff;
                    border-width: 3px;
                    background-color: #70c567;
                }
            }

            &:hover:not(.active) {
                .categories-item-radio {
                    opacity: .75;
                }
            }
        }
    }
}

.categories-list-actions {
    width: 100%;
}

.section {
    &.section-header {
        background: url('../img/bg-header.jpg');
        background-size: cover;
        background-position: 50%;
        position: relative;

        .section-header-inner {
            position: relative;
            z-index: 1;
            @include cf();

            .logo {
                float: left;
                margin-left: -30px;

                img {
                    width: 100%;
                }
            }
        }

        .section-header-actions {
            float: right;
            padding: 20px 0;
        }

        .section-header-placeholder {
            display: block;
            width: 100%;
            height: 225px;
        }

        .section-header-text {
            background: rgba(0,0,0,.4);
            border: 1px dashed #837467;
            padding: 15px 80px 50px;
            text-align: center;
            position: relative;
            margin-bottom: 60px;

            .section-header-text-title {
                font: 400 30px $bf;
                color: #fff;
                margin: 0 0 10px;
                opacity: .95;
            }

            .section-header-text-description {
                font: 400 16px/24px $bf;
                color: #fff;
                margin: 0;
                opacity: .95;
            }

            .button {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:before {
            content: '';
            display: block;
            @include fill_parent();
            background-color: #000;
            opacity: .4;
        }
    }

    &.section-categories {
        background: #f7f9fc;
        padding: 30px 0;

        .section-header {
            color: #083f49;
            font: 600 22px/30px $bf;
            text-align: center;
            padding-bottom: 20px;
            margin: 0 0 30px;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -50%);
                background-color: #70c567;
                width: 70px;
                height: 3px;
            }
        }

        .categories-list-inner {
            margin: 0 -10px;
        }
        
        .categories-list-actions,
        .categories-list-inner {
            @include cf();
        }
    }

    &.section-offices {
        position: relative;
        min-height: 640px;
        border-top: 1px solid #d7dee6;

        .section-offices-list-header {
            padding: 25px 25px 25px 50px;
            border-bottom: 1px solid #d7dee6;
            height: 100px;

            h4 {
                color: #083f49;
                font: 600 22px/30px $bf;
                margin: 0;
            }

            small {
                color: #083f49;
                font: 400 14px/20px $bf;
                margin: 0;
            }
        }

        .section-offices-list-inner {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 100px;
            width: 100%;
            height: auto;
        }

        .section-offices-list {
            width: 33.333%;
            padding: 0 0 30px;
            border-right: 1px solid #d7dee6;
            position: absolute;
            left: 0;
            height: 100%;

            .section-panel {
                margin: 0;
                box-shadow: none;
                border-top: 1px solid #d7dee6;
                padding-left: 50px;
                cursor: pointer;
                transition: background .4s;

                &:first-child, &:first-of-type {
                    border-top: 0;
                }

                &:hover, &.active {
                    background-color: #f6f6f6;
                }
            }
        }

        .section-offices-map {
            width: 66.666%;
            height: 100%;
            right: 0;
            background-color: #fff;
            position: absolute;

            .map-canvas {
                @include fill_parent();
            }
        }
    }

    &.section-how-it-works {
        position: relative;
        padding-left: 33.333%;
        min-height: 300px;
        width: 100%;
        background-color: #f7f9fc;
        border-bottom: 1px solid #d7dee6;

        .bg-image {
            background: url('../img/bg-how-it-works.jpg');
            background-size: cover;
            background-position: 50%;
            position: absolute;
            width: 33.333%;
            left: 0;
            top: 0;
            height: 100%;

            &:before {
                content: '';
                display: block;
                @include fill_parent();
                background-color: #000;
                opacity: .4;
            }
        }

        .how-it-works-inner {
            padding: 20px 50px 50px;

            .how-it-works-title {
                font: 400 36px/60px $bf;
                color: #083f49;
                padding: 0 0 10px;
                position: relative;
                display: block;
                margin: 0 0 30px;

                &:after {
                    content: '';
                    display: block;
                    background-color: #70c567;
                    position: absolute;
                    width: 70px;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
            }

            .how-it-works-list {
                display: block;

                .how-it-works-item {
                    display: block;
                    font: 600 17px/36px $bf;
                    margin-bottom: 40px;
                    position: relative;
                    cursor: default;

                    .how-it-works-item-number {
                        position: absolute;
                        left: -50px;
                        transform: translate(-50%, -50%);
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        background-color: #fff;
                        border: 1px solid #70c567;
                        border-radius: 50%;
                        font-style: normal;
                        top: 50%;
                        transition: all .4s;
                    }

                    &:hover {
                        .how-it-works-item-number {
                            background-color: #70c567;
                            color: #fff;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &.section-faq {
        position: relative;
        min-height: 200px;

        &:before, &:after {
            content: '';
            display: block;
            width: 50%;
            position: absolute;
            top: 0;
            height: 100%;
        }

        &:before {
            left: 0%;
            background-color: #f4f5f8;
            border: 1px solid #ecedef;
            border-left: 0;
        }

        &:after {
            left: 50%;
            background-color: #ffffff;
            border: 1px solid #fefefe;
            border-right: 0;
        }

        .faq-inner {
            position: relative;
            z-index: 1;
            @include cf();

            .faq-tabs {
                width: 33.333%;
                float: left;
                padding: 30px 0;
                padding-left: 40px;

                .faq-tabs-inner {
                    width: 400px;
                    max-width: 100%;
                    float: right;
                    padding-left: 30px;
                }

                .faq-tabs-title {
                    padding: 0 15px;
                    font: 500 22px/40px $bf;
                    color: #083f49;
                    margin: 0 0 30px;
                }

                .faq-tab {
                    display: block;
                    padding: 10px 18px;
                    font: 500 15px/22px $bf;
                    display: block;
                    width: 100%;
                    border-left: 4px solid transparent;

                    &.active {
                        background-color: #fff;
                        border-left: 4px solid #70c567;
                    }
                }
            }

            .faq-panes {
                width: 66.666%;
                background-color: #fff;
                float: left;

                .faq-panes-inner {
                    width: 900px;
                    max-width: 100%;
                    float: left;
                }

                .faq-pane {
                    display: none;
                    padding: 30px 120px 30px 85px;

                    &.active {
                        display: block;
                    }

                    h4 {
                        font: 500 18px/27px $bf;
                        margin: 0 0 15px;
                        color: #083f49;
                    }

                    p {
                        font: 400 15px/22px $bf;
                        margin: 0 0 15px;
                        color: #333;
                    }
                }
            }
        }
    }

    &.section-contact-form {
        overflow: hidden;
        background-color: #f7f9fc;
        position: relative;

        .bg-image {
            position: absolute;
            margin-left: 10px;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            margin: 0;
            background: url('../img/bg-contact-form.jpg');
            background-size: cover;
            background-position: 50%;

            &:after {
                content: '';
                display: block;
                @include fill_parent();
                background-color: #000;
                opacity: .4;
            }
        }

        .contact-inner {
            width: 30%;
            float: left;
            padding: 40px 40px 70px;
            position: relative;
            z-index: 1;

            .contact-title {
                color: #fff;
                font: 400 36px $bf;
                margin: 0;
            }

            .contact-subtitle {
                color: #fff;
                font: 400 16px $bf;
                margin: 0 0 40px;
            }

            .contact-form {
                position: relative;
                width: 200%;
                background-color: #fff;
                border: 1px dashed #d7d7d7;
                box-shadow: 10px 10px 70px rgba(0,0,0,.3);

                .contact-form-inner {
                    padding: 50px;
                }

                .submit-button {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, 50%);
                }
            }
        }
    }

    &.section-voucher-details {
        background-color: #f7f9fc;

        .voucher-info-view {
            position: relative;
            margin-top: -125px;
            margin-bottom: 30px;
            z-index: 1;
            @include cf();

            .voucher-info-view-content {
                width: 70%;
                float: left;
                padding-right: 20px;
                position: relative;

                &>.inner {
                    min-height: 200px;
                    background: #fafafa;
                    box-shadow: 2px 2px 30px rgba(0,0,0,.1);
                    border-radius: 5px 0 0 5px;
                    padding: 30px;

                    .voucher-content-code {
                        float: right;
                        width: 220px;
                        border: 1px solid #e7e7e7;

                        img {
                            display: block;
                            width: 100%;
                        }
                    }

                    .voucher-content-title {
                        font: 600 22px/75px $bf;
                        color: #083f49;
                        border-bottom: 1px solid #e7e7e7;
                        margin-bottom: 35px;

                        .mdi {
                            color: #70c567;
                            vertical-align: middle;
                            margin-right: 15px;
                            font-size: 32px;
                        }
                    }

                    .voucher-content-amount {
                        margin-bottom: 20px;

                        .voucher-content-amount-title {
                            color: #3e6b39;
                            font: 700 16px/30px $bf;
                        }

                        .voucher-content-amount-value {
                            color: #333333;
                            font: 600 64px/60px $bf;
                        }
                    }

                    &:after {
                        background-image: url('../img/voucher-content-edge.png');
                        content: '';
                        display: block;
                        position: absolute;
                        right: -1px;
                        position: absolute;
                        width: 21px;
                        top: 21px;
                        bottom: 21px;
                    }
                }

                &:after,
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -1px;
                    width: 21px;
                    height: 21px;
                    background-image: url('../img/voucher-corners.png');
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                    background-position: 0 21px;
                }
            }

            .voucher-info-view-aside {
                top: 0;
                right: 0;
                width: 30%;
                height: 100%;
                position: absolute;
                padding-left: 20px;

                &>.inner {
                    border-radius: 0 5px 5px 0;
                    background-color: #70c567;
                    height: 100%;
                    box-shadow: 2px 2px 30px rgba(0,0,0,.1);

                    .voucher-info-view-aside-actions {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        text-align: center;
                        transform: translate(-50%, -50%);

                        .button {
                            white-space: nowrap;
                            width: 100%;
                            margin-bottom: 20px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    &:after {
                        background-image: url('../img/voucher-aside-edge.png');
                        content: '';
                        display: block;
                        position: absolute;
                        left: -1px;
                        position: absolute;
                        width: 21px;
                        top: 21px;
                        bottom: 21px;
                    }
                }

                &:after,
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -1px;
                    width: 21px;
                    height: 21px;
                    background-image: url('../img/voucher-corners.png');
                }

                &:before {
                    top: 0;
                    background-position: 21px 0;
                }

                &:after {
                    bottom: 0;
                    background-position: 21px 21px;
                }
            }
        }
    }

    &.section-footer {
        text-align: center;
        font: 400 12px/24px $bf;
        padding: 60px 0;
        border-top: 3px solid #3396a7;

        a {
            font: inherit;
            color: #017f96;
        }
    }

    &.section-container {
        padding: 30px 0 60px;
        background-color: #f7f9fc;
    }

    &.section-panel {
        width: 100%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 25px rgba(0,0,0,.1);
        margin: 0 0 20px;
    }

    &.section-title {
        margin: 0 0 20px;
        font: 500 24px $bf;
        color: #083f49;

        .button {
            margin-top: -5px;
        }
    }

    @media screen and (max-width: 1400px) {
        &.section-contact-form .contact-inner {
            padding-left: 0;

            .contact-form {
                width: 250%;
            }

            .contact-title {
                font-size: 26px;
                line-height: 56px;
            }
        }

        &.section-faq .faq-inner {
            .faq-tabs {
                padding-left: 0;
            }
            .faq-panes .faq-pane {
                padding: 40px;
            }
        }
    }

    @media screen and (max-width: 1300px) {
        &.section-header .section-header-placeholder {
            height: 150px;
        }

        &.section-contact-form {
            .contact-inner {
                width: 100%;

                .contact-form {
                    width: 100%;
                }
            }
        }

        &.section-offices {
            min-height: 495px;

            .section-offices-list-header {
                padding-left: 25px;
            }

            .section-offices-list {
                width: 40%;

                .section-panel {
                    padding-left: 25px;
                }
            }

            .section-offices-map {
                width: 60%;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.section-header {
            padding-top: 20px;

            .logo {
                width: 140px;
                margin-bottom: 20px;
            }

            .section-header-actions {
                padding-top: 10px;

                .button {
                    clear: both;
                    float: right;
                    margin: 0 0 10px;
                }

                .button-group {
                    margin-right: 0;
                    display: block;
                    clear: both;
                    float: right;

                    .button {
                        border-radius: 3px;
                    }
                }
            }

            .section-header-text {
                padding: 20px 20px 50px;

                .section-header-text-title {
                    font-size: 20px;
                }

                .section-header-text-description {
                    font-size: 12px;
                    line-height: 20px;
                }

                .button {
                    white-space: nowrap;
                    line-height: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;

                    span {
                        display: block;
                        font-weight: 600;
                    }
                }
            }
        }

        &.section-categories .section-header {
            font: 600 16px/24px $bf;
        }

        &.section-faq {
            display: none;
        }

        &.section-how-it-works {
            padding: 0;

            .bg-image {
                display: none;
            }

            .how-it-works-inner {
                width: 100%;
                padding: 20px;

                .how-it-works-title {
                    font: 400 18px/32px $bf;
                    text-align: center;

                    &:after {
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                .how-it-works-list {
                    .how-it-works-item {
                        margin-bottom: 20px;
                        font: 600 14px/20px $bf;
                        position: relative;
                        padding-left: 55px;
                        padding-top: 5px;
                        min-height: 50px;

                        .how-it-works-item-number {
                            font-size: 16px;
                            top: 0;
                            left: 0;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            float: left;
                            transform: translate(0, 0);
                        }
                    }
                }
            }
        }

        &.section-contact-form {
            background-color: #fff;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid #e1e1e1;

            .bg-image {
                display: none;
            }

            .contact-inner {
                width: 100%;
                padding: 0;

                .contact-title,
                .contact-subtitle {
                    color: #333;
                }

                .contact-title {
                    font-size: 22px;
                    line-height: 36px;
                }

                .contact-subtitle {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }

                .contact-form {
                    width: 100%;
                    box-shadow: none;
                    border: none;

                    .contact-form-inner {
                        padding: 0;
                    }

                    .submit-button {
                        position: initial;
                        transform: none;
                        width: 100%;
                    }
                }
            }
        }

        &.section-offices {
            background-color: #f7f9fc;

            .section-offices-list-header {
                background-color: #fff;
                padding: 15px 25px;
                height: 75px;

                h4 {
                    font: 600 16px/24px $bf;
                }

                small {
                    font: 400 12px/18px $bf;
                }
            }

            .section-offices-list-inner {
                top: 75px;
            }

            .section-offices-list, 
            .section-offices-map {
                right: 25px;
                width: auto;
                left: 0;
                height: 50%;
                border-right: 1px solid #d7dee6;
                border-bottom: 1px solid #d7dee6;
            }

            .section-offices-list {
                .section-panel {
                    padding-left: 20px;

                    .office-li {
                        padding-left: 75px;

                        .office-li-thumb {
                            width: 60px;
                        }

                        .office-li-name {
                            font: 600 14px/18px $bf;
                            white-space: initial;
                        }

                        .office-li-description {
                            font: 400 11px/17px $bf;
                        }
                    }
                }
            }

            .section-offices-map {
                top: 50%;
            }
        }

        &.section-voucher-details {
            .voucher-info-view {
                margin: -125px -15px 30px;

                .voucher-info-view-content {
                    width: 50%;

                    .inner {
                        padding: 15px;

                        .voucher-content-code {
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        .voucher-content-title {
                            display: none;
                            font: 600 14px/25px $bf;
                            text-align: center;
                            border-bottom: 0;
                            margin-bottom: 20px;

                            .mdi {
                                display: none;
                            }
                        }

                        .voucher-content-amount {
                            .voucher-content-amount-title {
                                font: 700 11px/22px $bf;
                            }

                            .voucher-content-amount-value {
                                font: 700 26px/32px $bf;
                            }
                        }
                    }
                }

                .voucher-info-view-aside {
                    width: 50%;

                    .inner {
                        .voucher-info-view-aside-actions {
                            .button {
                                font-size: 10px;
                                padding-left: 10px;
                                padding-right: 10px;
                                text-align: center;

                                .mdi {
                                    display: block;
                                    line-height: 16px;
                                    padding-top: 10px;
                                    font-size: 24px;
                                    margin: 0;
                                }

                                &:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.section-footer {
            padding: 30px;

            span {
                display: none;
            }
        }

        &.section-title {
            font-size: 16px;
            line-height: 44px;
            margin: 0 -10px 10px;

            .button {
                padding: 0 10px;
                margin-top: 0;
                font-size: 13px;

                .mdi {
                    display: none;
                }
            }
        }

        &.section-container {
            padding: 20px 0 0;
        }

        &.section-panel {
            width: auto;
            margin: 0 -30px 30px;
        }
    }
}

.popups {
    position: relative;
    z-index: 1;

    .popup {
        @include fill_parent();
        position: fixed;
        display: none;

        &.active {
            display: block;
        }

        &.popup-voucher {
            .voucher-activation-loading {
                img {
                    display: block;
                    margin: auto;
                    max-width: 100%;
                }
            }
        }

        .modal-success {
            text-align: center;
            padding: 30px 0;
            
            .modal-success-title {
                color: #083f49;
                font: 600 36px/1.2em $bf;
                margin-bottom: 10px;
                
                .mdi {
                    display: inline-block;
                    margin-right: 10px;
                    color: #017f96;
                    font-size: 60px;
                    line-height: 1.4em;
                    vertical-align: middle;
                    display: block;
                }
            }

            .modal-success-desc {
                color: #2e525a;
                font: 400 13px/1.2em $bf;
            }
        }
    }

    .popup-backdrop {
        @include fill_parent();
        background-color: #fff;
        opacity: .99;
        cursor: pointer;
    }

    .popup-heading {
        font: 600 18px/32px $bf;
        margin-bottom: 20px;
        color: #083f49;
        text-align: center;
    }

    .popup-inner {
        position: absolute;
        width: 100%;
        max-width: 420px;
        top: 50%;
        left: 50%;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0,0,0,.2);
        padding: 20px 50px;
        transform: translate(-50%, -50%);
    }

    .popup-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        color: #666;
    }

    @media screen and (max-width: 1000px) {
        .popup-inner {
            @include fill_parent();
            position: fixed;
            transform: none;
            overflow: auto;
        }

        .popup-close {
            position: fixed;
        }
    }
}

@media screen and (max-width: 1400px) {
    .categories-list {
        .categories-item {
            width: 100/6+%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .categories-list {
        .categories-item {
            width: 20%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .hide-desktop {
        display: inline-block;
    }

    .hide-mobile {
        display: none;
    }

    .row {
        .col {
            &.col-6 {
                width: 100%;
            }

            &.col-5th {
                width: 100%;
            }
        }
    }

    .button {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        line-height: 30px;
        font-size: 12px;

        .mdi {
            margin-left: -5px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .categories-list .categories-item {
        width: 50%;

        .categories-item-inner .categories-item-title {
            padding: 10px;
            font-size: 12px;
        }
    }

    .office-li {

    }
}