div(panel-header)

.section.section-container: .wrapper 
    .section.section-title Bewerk Profiel

    .section.section-panel.section-panel-profile: .section-panel-inner
        .profile-details
            .profile-photo
                img(ng-if="$root.user.shop_keeper.preview != false" ng-src="{{ $root.user.shop_keeper.preview }}", alt="")
                img(ng-show="$root.user.shop_keeper.preview == false" src="./assets/img/square.png")
                div(ng-show="$root.user.shop_keeper.preview == false").profile-photo-placeholder
                    em.mdi.mdi-image
                    | NO PHOTO
            .logo-title Logo
            a(href="#" ng-click="$ctrl.selectPhoto($event)").button.button-success
                em.mdi.mdi-attachment
                | Verander afbeelding
            //.logo-description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit
        form(ng-submit="$ctrl.submitForm($event, $ctrl.form.profile)").form.form-sm
            .row: .col.col-12: .form-heading Details
            .row
                .col.col-6
                    .form-group
                        label.label Bedrijfsnaam
                        input(type="text" placeholder="Bedrijfsnaam" ng-model="$ctrl.form.profile.values.name").form-control
                        p(ng-repeat="error in $ctrl.form.profile.errors.name track by $index" ng-bind="error").text-danger
                .col.col-6
                    .form-group
                        label.label IBAN Name
                        input(type="text" placeholder="IBAN Name" ng-model="$ctrl.form.profile.values.iban_name").form-control
                        p(ng-repeat="error in $ctrl.form.profile.errors.iban_name track by $index" ng-bind="error").text-danger
            .row
                .col.col-6
                    .form-group
                        label.label E-mail
                        input(type="email" placeholder="E-mail" ng-model="$ctrl.form.profile.values.email").form-control
                        p(ng-repeat="error in $ctrl.form.profile.errors.email track by $index" ng-bind="error").text-danger
                        //- a(href="#").button.button-text.button-sm
                        //-     em.mdi.mdi-plus-circle
                        //-     | ADD EMAIL
                .col.col-6
                    .form-group
                        label.label Telefoonnummer
                        input(type="text" placeholder="Telefoonnummer" ng-model="$ctrl.form.profile.values.phone").form-control
                        p(ng-repeat="error in $ctrl.form.profile.errors.phone track by $index" ng-bind="error").text-danger
                        //- a(href="#").button.button-text.button-sm
                        //-     em.mdi.mdi-plus-circle
                        //-     | ADD TELEPHONE
            .row
                .col.col-12
                    .form-group
                        label.label Selecteer categorie
                        select(ng-options="category.name for category in ($ctrl.all_categories | not_in:$ctrl.form.profile.values.categories) track by category.id" ng-model="void.category" ng-change="$ctrl.selectCategory(void)").form-control
                .col.col-12
                    .form-group
                        span(ng-repeat="category_id in $ctrl.form.profile.values.categories").button.button-label.button-xs
                            a(href="#" ng-click="$ctrl.deleteCategory($event, category_id)").mdi.mdi-close-circle
                            | {{ $ctrl.all_categories[category_id].name }}
                        p(ng-repeat="error in $ctrl.form.profile.errors.categories track by $index" ng-bind="error").text-danger
            .row: .col.col-12: .form-heading Financiële gegevens
            .row
                .col.col-12
                    .form-group
                        label.label KvK-nummer
                        input(type="text" placeholder="KvK-nummer" ng-model="$ctrl.form.profile.values.kvk_number").form-control
                        p(ng-repeat="error in $ctrl.form.profile.errors.kvk_number track by $index" ng-bind="error").text-danger
                .col.col-12
                    .form-group
                        label.label BTW-nummer
                        input(type="text" placeholder="BTW-nummer" ng-model="$ctrl.form.profile.values.btw_number").form-control
                        p(ng-repeat="error in $ctrl.form.profile.errors.btw_number track by $index" ng-bind="error").text-danger
            button(type="submit").hidden
        .buttons 
            a(href="#" ng-click="$ctrl.submitForm($event, $ctrl.form.profile)").button.button-success Verwerk
            a(ui-sref="panel-offices").button.button-muted Annuleer